</head>

<body lang="{{.Site.LanguageCode}}">
<header class="navbar-wrapper">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">E<span class="hidden-xs">arly </span>C<span
                        class="hidden-xs">hildhood </span>P<span class="hidden-xs">roject</span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{ with .Site.GetPage "section" "about" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
                    {{ with .Site.GetPage "section" "services" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
                    {{ with .Site.GetPage "section" "involved" }}<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>{{ end }}
                    <li><a href="/contact/">Contact</a></li>
                    <li class="menu-highlight"><a href="/donate/">Donate</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-alert">
        <div class="container text-center">
            <i class="fas fa-exclamation-circle"></i> <strong>COVID-19:</strong> <a href="/covid/">How to access our services</a>
        </div>
    </nav>

</header>