{{ partial "meta.html" . }}

{{ partial "head_includes.html" . }}

{{ partial "menu.html" . }}

<header class="page-cover" style="background-image: url('{{ .Params.Cover.Image }}')" id="home">
    <div class="container home">
        <div class="wrap">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            <div class="credit">
                <a href="{{ .Params.Cover.URL }}">Photo by {{ .Params.Cover.Credit }}</a>
            </div>
        </div>
    </div>
    <a class="btn btn-link btn-cover" href="#about" role="button" title="Scroll Down">
        <i class="fas fa-angle-down" aria-hidden="true"></i><span class="sr-only">Scroll Down</span>
    </a>
</header>

<section class="container home-section" id="about">
    <div class="row">
        <div class="col-md-12 text-center post-content">
            <h2>{{ with .Site.GetPage "section" "about" }}{{ .Title }}{{ end }}</h2>
            {{ with .Site.GetPage "section" "about" }}{{ .Content | safeHTML }}{{ end }}
            <p>
                <a class="btn btn-lg btn-primary" href="/our-story/" role="button">Our Story <i
                        class="fas fa-angle-double-right" aria-hidden="true"></i></a>
                <a class="btn btn-lg btn-primary" href="/how-we-work/" role="button">How We Work <i
                        class="fas fa-angle-double-right" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
    <hr>
</section>

<section class="container" id="services">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ with .Site.GetPage "section" "services" }}{{ .Title }}{{ end }}</h2>
        </div>
    </div>
    <div class="row home-services">
        {{ range where .Site.RegularPages.ByWeight "Section" "services" }}
        {{ .Render "li-image" }}
        {{ end }}
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>
                <a class="btn btn-lg btn-primary" href="/what-we-do/" role="button">What We Do <i
                        class="fas fa-angle-double-right" aria-hidden="true"></i></a>
                        <a class="btn btn-danger btn-lg" href="/covid/">Our Services During the
                            Pandemic <i class="fa fa-angle-double-right"></i></a>
            </p>
        </div>
    </div>
    <hr>
</section>

<section class="container" id="involved">
    <div class="row">
        <div class="col-md-12 text-center post-content">
            <h2>{{ with .Site.GetPage "section" "involved" }}{{ .Title }}{{ end }}</h2>
            {{ with .Site.GetPage "section" "involved" }}{{ .Content | safeHTML }}{{ end }}
            <p>
                <a class="btn btn-lg btn-danger" href="/make-a-donation/" role="button">Make a Donation <i
                        class="fas fa-angle-double-right" aria-hidden="true"></i></a>
                <a class="btn btn-lg btn-success" href="https://toylibrarybrightonandhove.org" role="button">Toy Library
                    Website <i class="fas fa-angle-double-right" aria-hidden="true"></i></a>
                <a class="btn btn-lg btn-primary" href="/get-involved/" role="button">Get Involved <i
                        class="fas fa-angle-double-right" aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
</section>


{{ partial "footer.html" . }}

{{ partial "foot_includes.html" . }}

{{ partial "foot.html" . }}